[user]
	name = takuzoo3868
	email = sata1121.kyudo@gmail.com
[include]
  path = .gitconfig.local
[color]
# colorの設定(以下のコマンドは自動で色つける)
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
