[user]
name = takuzoo3868
# email$B$O(B.gitconfig.local$B$K=q$/(B

[include]
path = .gitconfig.local
[color]
# colorの設定(以下のコマンドは自動で色つける)
ui = auto
status = auto
diff = auto
branch = auto
interactive = auto
grep = auto
