# Tips
# hook_addはプラグイン追加後
# hook_sourceはプラグイン読み込み前
# hook_post_sourceはプラグイン読み込み後

[[plugins]]
# プラグイン管理
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'Shougo/unite.vim'
hook_add = '''
nnoremap <silent> fb :<C-u>Unite buffer<CR>
'''

[[plugins]]
repo = 'osyo-manga/unite-quickfix'
depends = 'unite.vim'

[[plugins]]
repo = 'Shougo/vimfiler.vim'
depends = 'unite.vim'
hook_add = '''
source ~/.config/nvim/plugins/vimfiler.rc.vim
'''

# ==========================================================
# basic
# ==========================================================

[[plugins]]
# 楽にコメントアウト
repo = 'scrooloose/nerdcommenter'
hook_add = '''
source ~/.config/nvim/plugins/nerdcomenter.rc.vim
'''

[[plugins]]
# カッコを自動で閉じる
repo = 'Townk/vim-autoclose'

[[plugins]]
# 貼り付け時に自動でペーストモードにする
repo = 'ConradIrwin/vim-bracketed-paste'

# ==========================================================
# linter
# ==========================================================

# [[plugins]]
# repo = 'w0rp/ale'
# hook_add = '''
# source ~/.config/nvim/plugins/ale.rc.vim
# '''

# ==========================================================
# terminal
# ==========================================================

[[plugins]]
# 重い作業時の非同期処理
repo = 'Shougo/vimproc.vim'
if = "!has('nvim')"
build = 'make'
hook_post_update = '''
  if dein#util#_is_windows()
    let cmd = 'tools\\update-dll-mingw'
  elseif dein#util#_is_cygwin()
    let cmd = 'make -f make_cygwin.mak'
  elseif dein#util#_is_mac()
    let cmd = 'make -f make_mac.mak'
  elseif executable('gmake')
    let cmd = 'gmake'
  else
    let cmd = 'make'
  endif
  let g:dein#plugin.build = cmd
'''

# [[plugins]]
# repo = 'kassio/neoterm'
# if = "has('nvim')"
# hook_add = '''
# source ~/.config/nvim/plugins/neoterm.rc.vim
# '''

[[plugins]]
repo = 'Shougo/vimshell'
if = "!has('nvim')"
hook_add = '''
source ~/.config/nvim/plugins/vimshell.rc.vim
'''

[[plugins]]
repo = 'thinca/vim-quickrun'
hook_add = '''
source ~/.config/nvim/plugins/quickrun.rc.vim
'''

[[plugins]]
repo = 'osyo-manga/shabadou.vim'

# ==========================================================
# colorscheme
# ==========================================================

#[[plugins]]
#repo = 'tomasr/molokai'
#hook_add = '''
#  source ~/.config/nvim/plugins/molokai.rc.vim
#'''

[[plugins]]
repo = 'cocopon/iceberg.vim'
if = "has('nvim')"
hook_add = '''
source ~/.config/nvim/plugins/iceberg.rc.vim
'''

[[plugins]]
repo = 'w0ng/vim-hybrid'
hook_add = '''
source ~/.config/nvim/plugins/hybrid.rc.vim
'''

[[plugins]]
repo = 'vim-scripts/Wombat'

[[plugins]]
repo = 'cocopon/colorswatch.vim'

# ==========================================================
# airline
# ==========================================================

[[plugins]]
repo = 'majutsushi/tagbar'

[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'vim-airline/vim-airline'
if = "has('nvim')"
depends = ['tagbar', 'vim-fugitive']
hook_add = '''
source ~/.config/nvim/plugins/airline.rc.vim
'''

[[plugins]]
repo = 'vim-airline/vim-airline-themes'
depends = 'vim-airline'
hook_add = '''
let g:airline_theme='luna'
'''

[[plugins]]
repo = 'mattn/webapi-vim'

[[plugins]]
repo = 'gcmt/taboo.vim'
depends = 'vim-airline'
hook_add = '''
if !has('nvim')
  set guioptions-=e
  set sessionoptions+=tabpages,globals
endif
let g:taboo_tab_format=' t%N %f%m '
let g:taboo_tabline = 0
'''

# ==========================================================
# Git
# ==========================================================

[[plugins]]
repo = 'airblade/vim-gitgutter'
hook_add = '''
let g:gitgutter_sign_added = '+'
let g:gitgutter_sign_modified = '*'
let g:gitgutter_sign_removed = '-'
'''

# ==========================================================
# for vim8 compatible neovim
# ==========================================================

[[plugins]]
repo = "roxma/vim-hug-neovim-rpc"
if = "!has('nvim')"

[[plugins]]
repo = "roxma/nvim-yarp"
if = "!has('nvim')"

# ==========================================================
# other
# ==========================================================

[[plugins]]
# にゃーん
repo = 'rtakasuke/vim-neko'
hook_add = '''
source ~/.config/nvim/plugins/vim-neko.rc.vim
'''

[[plugins]]
# カレンダー
repo = 'itchyny/calendar.vim'

[[plugins]]
repo = 'ryanoasis/vim-devicons'
