[init]
  templatedir = ~/.git_template

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  preloadindex = true
  fscache = true

[include]
  path = ~/.gitconfig.local

[commit]
  template = ~/.gitmessage

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[alias]
  # Check git alias 
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort

  # add
  a = add                           # add

  # commit
  c = commit -m                     # commit with message
  ca = commit -am                   # commit all with message
  ci = commit                       # commit
  amend = commit --amend            # ammend your last commit
 
  # checkout
  ch = checkout                     # checkout

  # diff
  d = diff                          # diff unstaged changes
  dc = diff --cached                # diff staged changes
  last = diff HEAD^                 # diff last committed change
  
  # log
  l = log --graph --date=short
  tree = log --graph --branches --pretty=format:'%C(cyan)[%h]%Creset -%C(cyan bold)%d%Creset %s (%cr) %C(blue)<%an>%Creset'
 
  # pull
  pl = pull
  drag = pull --rebase              # Pull using rebase mode (Not merge!!!)

  # push
  ps = push                         # push
 
  # status
  s = status                        # status
  st = status                       # status
  stat = status                     # status
  
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
