name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        cache: 'pip'

    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    - name: Install lint tools
      run: |
        python -m pip install --upgrade pip
        pip install vim-vint
    
    # Lint check
    - name: ShellCheck (setup / scripts)
      env:
        SHELLCHECK_OPTS: "-f gcc --exclude=SC1090"
      run: |
        shellcheck $SHELLCHECK_OPTS etc/setup
        shellcheck $SHELLCHECK_OPTS etc/scripts/init
        shellcheck $SHELLCHECK_OPTS etc/scripts/deploy

    - name: ShellCheck (.bashrc)
      run: |
        shellcheck -f gcc \
          --exclude=SC2148,SC1090 \
          config/bash/.bashrc

    - name: Vint (Neovim config)
      run: |
        find config/nvim -type f -name "*.vim" -print0 \
          | xargs -0 vint -cstV --enable-neovim
