name: Lint

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    # Lint check
    - name: ShellCheck
      env:
        DOTPATH: ${{ github.workspace }}
      run: |
        set -eux
        make lint
