name: Setup(init)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ubuntu-init:
    name: Test init on Ubuntu
    runs-on: ubuntu-latest
    container:
      image: ubuntu:22.04

    steps:
      - name: Install base packages
        run: |
          set -eux
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get install -y \
            git sudo make ca-certificates curl

      - name: Checkout
        uses: actions/checkout@v4

      - name:  Initialize development environment
        env:
          DOTPATH: ${{ github.workspace }}
          TERM: xterm-256color
        run: |
          set -eux
          make init