name: Setup(deploy)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  linux:
    name: Test deploy on ${{ matrix.os }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu
            container: ubuntu:22.04
            pkg_install: |
              apt-get update
              DEBIAN_FRONTEND=noninteractive apt-get install -y \
                git make ca-certificates

          - os: debian
            container: debian:12
            pkg_install: |
              apt-get update
              DEBIAN_FRONTEND=noninteractive apt-get install -y \
                git make ca-certificates

          - os: archlinux
            container: archlinux:latest
            pkg_install: |
              pacman -Syu --noconfirm --needed \
                git make which ca-certificates

    container: 
      image: ${{ matrix.container }}

    steps:
      - name: Install required packages
        run: |
          set -eux
          ${{ matrix.pkg_install }}
      
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy dotfiles
        env:
          TERM: xterm-256color
          DOTPATH: ${{ github.workspace }}
        run: |
          set -eux
          make deploy
      
      - name: Post deploy sanity check
        run: |
          set -eux
          test -f "$HOME/.bashrc"
          test -f "$HOME/.gitconfig"
  
  darwin:
    name: Test deploy on macOS
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Homebrew packages
        run: |
          set -eux
          brew update
          brew install git make

      - name: Deploy dotfiles
        env:
          DOTPATH: ${{ github.workspace }}
          TERM: xterm-256color
        run: |
          set -eux
          make deploy

      - name: Post deploy sanity check
        env:
          MANIFEST: $HOME/.dotfiles.manifest
        run: |
          set -eux
          test -f "$MANIFEST"
          while IFS= read -r line || [[ -n "$line" ]]; do \
            dst=${line%% ->*} \
            test -f "$dst" \
          done <"$MANIFEST"
